{
	"printWidth": 100,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"htmlWhitespaceSensitivity": "css",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"printWidth": 140
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": ["*.yaml", "*.yml"],
			"options": {
				"tabWidth": 2,
				"bracketSpacing": false
			}
		},
		{
			"files": "*.md",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
